.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
/data
/data-raw_n_subir
/escrita-artigo
/Apresentação
*.RData
*.RData
*.rds
/script/data_n_subir
/script/data_mapbiomas_n_subir/
/script/data_nasa_power_n_subir/
/script/krigagem_n_subir/
/script/script_nao_util/
/script/shapes_n_subir/
