.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
/data
/data-raw_n_subir
/escrita-artigo
/Apresentação
*.RData
*.RData
*.rds
/scripts/data_n_subir/
/scripts/data_mapbiomas_n_subir/
/scripts/data_nasa_power_n_subir/
/scripts/krigagem_n_subir/
/scripts/script_nao_util/
/scripts/shapes_n_subir/
